# Environment variables
.env
.env.*
.cache
.vscode
.editorconfig

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/
.coverage
htmlcov/
.venv/
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# OS specific
.DS_Store

src/tests
docs
pytest.ini